.App {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#charts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-container > div {
  flex: 1;
  margin-right: 5px;
}

.chart-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.export-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.export-button {
  background-color: #0000FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.export-button:hover {
  background-color: #0044FF;
}

