.appadmin {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #c3c7d7;
    
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  input[type="text"],
  input[type="password"] {
    margin: 0.5rem 0;
    padding: 1rem;
    border-style: solid;
    border-color: rgb(83, 153, 214);
    border-radius: 10px;
    width: 50;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: rgb(26, 23, 23);
    width: 200px;
    height: 40px;
    
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 15px;
  }
  
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
  }